* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #ffff;

}

body,
html {
    height: 100%;
    width: 100%;
    
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 45px;
    gap: 45px;
    position: fixed;
    z-index: 88;
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: #96c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

.cursor-blur {
    height: 300px;
    width: 300px;
    background-color: #a1d60f36;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(30px);

}

.nav img {
    height: 60px;
    width: 110px;
}

.nav h4 {
    text-transform: uppercase;
    font-weight: 600;
}

.nav h4:hover {

    cursor: pointer;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.550);
}

#page1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    -webkit-text-stroke: #96c11e 2px;
    top: -5px;
    left: -5px;
    z-index: -1;
}

#page1 h1 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
}

#page1 h2 {
    font-size: 25px;
    padding: 20px 0px;
    font-weight: 900;
}

#page1 p {
    font-size: 18px;
    width: 40%;
    font-weight: 500;
    text-align: center;
}

.page2 {
    width: 100vw;
    min-height: 100vh;
    z-index: 15;
}

.scroller {

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s linear infinite;

}

.scroller-in h4 {
    display: inline-block;
    font-size: 80px;
    padding: 0px 10px;
    font-weight: 900;
    transition: all linear 0.3s;
    color: #000000;
    text-shadow: 2px 2px #95c11e;

}

.scroller-in h4:hover {
    color: #96c11e;
    -webkit-text-stroke: #95c11e 2px;

}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.about {

    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.about img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0px 80px;
}

.about-content {
    width: 50%;
    text-align: center;
}

.about-content h4 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 30px;

}

.about-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;

}

.card-container {
    height: 60vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 100px 0px;
    padding: 150px 0px;
    position: relative;
    z-index: 10;

}

.card {
    height: 500px;
    width: 350px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.4s;

}

#card1 {

    background-image: url('card1.avif');

}

#card2 {
    background-image: url('card2.webp');

}

#card3 {
    background-image: url('card3.avif');
}

.overlay {
    background-color: #95c11e;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 100px 20px;
    text-align: center;
    position: relative;
    opacity: 0;
    transition: all ease-in-out 0.4s;

}

.overlay h4 {
    color: black;
    font-size: 30px;
    font-weight: 900;
}

.overlay p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    color: #000000;
}

.overlay:hover {
    opacity: 1;
    transform: rotate3d(1, 1, 1, 5deg);
}

.card:hover {
    transform: rotate3d(1, 1, 1, 5deg);
}

.green {
    background: linear-gradient(10deg, #44ad30, #94c01e, #44ad30);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 100vw;
    margin-top: 100px;
}

.green img {
    height: 100%;
    object-fit: cover;
    width: 10%;
}

.green h4 {
    color: #000;
    font-size: 24px;
    width: 50%;
    font-weight: 900;
    text-align: center;
    line-height: 45px;
}

.page3 {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.page3>p {
    font-size: 25px;
    font-weight: 900;
    width: 60%;
    text-align: center;
}

.page3 img {
    position: absolute;
    height: 60px;
}

#colon1 {
    left: 10%;
    top: 15%;
}

#colon2 {
    bottom: 20%;
    right: 10%;
}

.page4 {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #000;
    position: relative;

}

.elem {
    height: 60%;
    width: 27%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.elem h4 {
    height: 100%;
    width: 100%;
    background-color: #94c01e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: 900;
    color: #000;
    position: absolute;
    z-index: 10;
    transition: all ease-in 0.5s;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease-in 0.5s;
}

.elem:hover h4 {
    background-color: transparent;
    color: #fff;
}

.elem:hover img {
    z-index: 10;
    scale: 1;
}

.page4 h2{
    font-size: 70px;
    font-weight: 900;
    position: absolute;
    top: -10px;
    color: #fff;
    /* -webkit-text-stroke: 1px #fff; */
    /* font-family: gilroy; */
}
.footer{
    height: 50vh;
    width: 100%;
    background: linear-gradient(20deg, #44ad30, #94c01e, #44ad30);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
   padding: 0px 44px;
  
}
/* .footer img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    opacity: 0.6;
    z-index: 0;
} */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 10;
    
}
.boxes{
   
    height: 300px;
    width: 400px;
    z-index: 5;
    margin-top: 100px;
}
.boxes h2{  
   font-size: 24px;
   font-weight: 900;
   color: black;
   line-height: 40px;
   text-align: left;
}
.boxes h4{  
   font-size: 16px;
   font-weight: 700;
   color: black;
   line-height: 20px;
   text-align: left;
}
#box1 img{
    height: 100px;
    width: 130px;

    margin-left: 60px;
}
